@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Roboto:wght@400;700&display=swap');
body{

    font-family: 'roboto',sans-serif;
    
}
#logo{
    width: 5%;
    margin-right: 40px;
}
a{
    font-weight: 400;
    font-size: 24px;
    color: #04146c; 
    text-decoration: none;
    margin-right: 3%;  
}
.OT{
    font-weight: 700;
}

h1{
    font-family: 'Roboto Slab',sans-serif;
    font-weight: 700;
    color: #0a2ff1;
    font-size: 96px;
}
h2{
    font-weight: 400;
    color: #04146c;
    font-size: 34.666666666666664px;
}
header{
    width: 100%;
    text-align: center;
    background-color: white;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white
}
img{
    width: 100%;
}
p{
    font-family: 'Roboto Slab',serif;
    font-size:45.33333333333333px ;
    font-weight: 700 ;
    color:  #2c00cc;
}
form p{
    font-family: 'Roboto',sans-serif;
    font-size: 30.666666666666664px;
    font-weight: 400;
    color:  #04146c;
}
input{
    width: 500px;
    height: 50px;
    
}
textarea{
    width: 500px;
    height: 100px;
}
#comentario{
    font-family: 'Roboto',sans-serif;
    font-size: 13.3px;
    font-weight: 400;
    
}
label{
    font-family: 'Roboto',sans-serif;
    font-size: 30.666666666666664px;
    font-weight: 700;
    color: #04146c;


}
span{
    color: red;
}
.buttons { 
    font-family: 'Roboto Slab',serif;
    font-weight: 700;
    font-size: 32px;
    width: 150px;
    height: 50px; 
    color: white; 
    display: inline; 
    margin-top: 15px;
    margin-right: 10px;
}
#reset{
    background-color: #f98500;
    border: none;
}
#enviar{
    background-color: #2c00cc;
    border: none;
}